<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<th:block th:fragment="post (post)">
    <header class="article-category"
        th:if="${! #strings.isEmpty(post.spec.categories) && #strings.length(post.spec.categories) > 2}">
        <th:block th:each="category_name : ${post.spec.categories}">
            <a th:with="category = ${categoryFinder.getByName(category_name)}" th:href="@{${category.status.permalink}}"
                th:text="${category.spec.displayName}">
            </a>
        </th:block>
    </header>

    <a th:href="@{${post.status.permalink}}">
        <div class="article-details">
            <h2 class="article-title" th:text="${post.spec.title}"></h2>
            <footer class="article-time">
                <time th:datetime="${post.spec.publishTime}"
                    th:text="${#dates.format(post.spec.publishTime, 'MM dd, yyyy')}"></time>
            </footer>
        </div>
        <div class="article-image" th:if="${! #strings.isEmpty(post.spec.cover)}">
            <img th:src="${post.spec.cover}" width="120" height="120" th:alt="${post.spec.title}" loading="lazy">

        </div>
    </a>

</th:block>

</html>