<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:fragment="html (title,content)">

<th:block th:replace="~{modules/head :: head(${title})}" />

<body th:style="'background-color: '+${theme.config.style.background_color ?: '#f2f2f2'}">
    <script>
        (function () {
            const colorSchemeKey = 'StackColorScheme';
            const colorSchemeItem = localStorage.getItem(colorSchemeKey);
            const supportDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches === true;

            if (colorSchemeItem === 'dark' || colorSchemeItem === 'auto' && supportDarkMode) {
                document.documentElement.dataset.scheme = 'dark';
            } else {
                document.documentElement.dataset.scheme = 'light';
            }
        })();
    </script>

    <section>
        <th:block th:replace="~{modules/home/header}" />

        <th:block th:replace="${content}" />
    </section>

    <section>
        <th:block th:replace="~{modules/footer}" />
    </section>

</body>

</html>