<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
    th:replace="~{modules/layout :: html(title = #{string.categories}, content = ~{::content})}">

<th:block th:fragment="content">
    <main class="main-view">
        <header>
            <h2 class="section-title">[[#{string.categories}]]</h2>
            <div class="subsection-list">
                <div class="article-list--tile">
                    <article th:each="category : ${categories}"
                        th:classappend="${! #strings.isEmpty(category.spec.cover) ? 'has-image' : ''}">

                        <a th:href="@{${category.status.permalink}}">
                            <div class="article-image" th:if="${! #strings.isEmpty(category.spec.cover)}">
                                <img th:src="${category.spec.cover}" loading="lazy"
                                    th:alt="${category.spec.displayName}">
                            </div>
                            <div class="article-details">
                                <h2 class="article-title" th:text="${category.spec.displayName}"></h2>
                            </div>
                        </a>
                    </article>
                </div>
            </div>
        </header>
        
    </main>

</html>