<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
    th:replace="~{modules/layout :: html(title=${tag.spec.displayName}, content = ~{::content})}">

<th:block th:fragment="content">
    <main class="main-view">
        <header>
            <h2 class="section-title">[[#{string.tags}]]</h2>

            <div class="section-card">
                <div class="section-details">
                    <h3 class="section-count">[[${tag.status.postCount}]] [[#{string.page}]]</h3>
                    <h1 class="section-term" th:text="${tag.spec.displayName}"></h1>
                </div>
            </div>
        </header>

        <section class="article-list--compact">
            <article th:each="post : ${posts.items}">

                <th:block th:replace="~{modules/common/article-item :: post(${post})}" />

            </article>
        </section>

        <th:block th:replace="~{modules/common/pagination ::  pagination(pageType = 'tag')}"></th:block>
    </main>
</th:block>

</html>